* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgba(240, 236, 236, 0.45);
    margin: 0 auto;
    max-width: 1024px;
}

/* ----- NAVIGATION ----- */

ul {
    list-style: none;
    padding-left: 0;
}

nav {
    font-family: "Montserrat", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    padding: 25px;
    
}

a {
    font-weight: bold;
    color: #0399FF;
    text-align: center;
    text-decoration: none;
    display: block;
}

.top-nav {
    color:#0399FF;  
    text-align: center;
}
  ​
.top-nav, .top-nav li {
    width: 100%;
}
​
.top-nav {
    margin-top: 30px;
}
  ​
.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
}

.top-nav li a {
    color: #0399FF;
    border-bottom: 1px solid transparent;
    
}

.top-nav li a:hover{
    color: #FACD6D;
    border-bottom-color: #0399FF;
}

.profile img {
    margin: 0 auto;
    width: 100%;
    padding: 0 2.5em;
}

.profile p {
    font-size: 1.1875em;
    font-weight: lighter;
    color: grey;
    text-align: center;
}

/* ----- MAIN CONTENT -----*/


.row-container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.main-content {
    background-color: rgba(240, 236, 236, 0.45);
    box-shadow: 5px 3px 25px rgb(255, 202, 58),
    -5px 3px 25px rgb(255, 202, 58);
    width: 100%;
    margin: auto;
    padding-bottom: 1.5625em;
    align-self: center;
}

.main-content h1 {
    text-align: center; 
    text-shadow: 2px 2px 4px grey;
    font-weight: lighter;
    font-style: italic;
    padding-top: 30px;
    color: rgba(41, 39, 39, 0.86);
}


.main-content .card img {
    margin: 0 auto;
    width: 100%;
    padding: 15px;
}

.main-content .card p {
    color: rgba(41, 39, 39, 0.86);
    font-size: 1.125em;
    padding:  16px;
    text-align: center;
}

.main-content .card h3 {
    color: #0399FF;
    text-align: center;
    padding: 0px;
}


/* ----- SKILLS -----*/


.skills h1 {
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: rgba(41, 39, 39, 0.86);
    text-shadow:  2px 2px 4px grey;
}

.skills p {
    text-align: center;
    font-size: 1.1875em;
    margin-bottom: 0px;
    color: grey;
}

.skills {    
    margin-top: 2.5em;
}

.skills ul {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style-type: none;
}

.skills li {
    width: 40%;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    color: #0399FF;
    text-align: center;
}

.skills li:hover {
    color: orange;
    transform:skewY(10deg) scale(1.5);
}

/* ----- CONTACT ----- */

.contact-info {
    margin-top: 1.5em;
    border-top: 1px solid #0399FF;
}

#contact a {
    color: #0399FF;
}

#contact a:hover {
    color: #FACD6D;
}    

.contact-info h1 {
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: rgba(41, 39, 39, 0.86);
    text-shadow: 2px 2px 4px grey;
    margin-top: 1.5em;
}

.contact-info p {
    font-size: 1.1875em;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 25px;
    color: grey;
}


/* ----- FOOTER -----*/


.footer-nav {
    border-top: 1px solid #0399FF;
    padding: 1.5625em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    background-color: #0399FF;
}

.footer-nav h3 {
    font-weight: bold;
    display: inline;
    font-size: 1em;
    color: #FACD6D;
}

.footer-ul a {
    color: #0399FF;
    display: inline;
    text-decoration: none;
    font-weight: lighter;
    padding: .4em;
}

.footer-ul a:hover {
    color: #FACD6D;
    font-weight: bold;
}

.footer-ul {
    display: none;
}

.top {
    list-style-type: none;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
    margin-top: 1.1875em;
    color: #FACD6D;
}


/*-----Media Queries-----*/


@media (min-width: 768px) {
    .top-nav {
      margin-top: 0;
    }
    
    .top-nav li {
      display: inline-block;
      width: auto;
      margin-right: 15px;
      
    }
    
    .top-nav li:last-child {
      margin-right: 0;
    }
  ​
    .top-nav a {
      color: rgb(182, 178, 178);
    }

    .profile {
        display: flex;
        flex-direction: row-reverse; 
        margin: 3.125em 1.5625em;      
    }

    .profile img {
        width: 50%;
        padding: 0;
    }

    .profile p {
        font-size: 1.375em;
        margin: 0;
        padding-right: 1em;
    }

    .main-content .card {
        width: 50%;
    }

    .main-content .row-container{
        display: flex;
        flex-wrap: wrap;
    }

    .main-content .card p {
        padding: 0 1.5625em;
    }

    .skills p {
        margin: 1.1875em 5em;
    }

    .footer-nav {
        padding: 1em 0 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(240, 236, 236, 0.45);
    }

    .footer-ul {
        display: block;
        list-style-type: none;
    }

    .footer-ul li {
        display: inline;
        padding-left: 1.25em;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
    }

    .top {
        display: none;
    }
}



@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .top-nav, 
    .top-nav li {
        width: initial;
        margin-bottom: 0;
    }

    .profile {
        margin: 3.125em 1.25em;
    }

    .profile p {
        font-size: 1.7em;
        text-align: left;
    }
   
   .row-container .card {
        width: 33%; 
    }
    
    .skills p {
        margin: 1.1875em 10em;
    }

    .footer-nav {
        padding: 1em;
    }

    .top {
        display: none;
    }
}
